.square {
    height: 80px;
    width: 80px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.even-square {
    background-color: #f0e3d3;
}

.odd-square {
    background-color: #d9935d;
}

.row {
    display: flex;
    flex-direction: row;
}

.board {
    display: flex;
    flex-direction: column;
}

.piece-image {
    display: flex;
    height: 70px;
    width: 70px
}

.square-highlight {
    opacity: 0.33;
    background-color: black;
    height: 50px;
    width: 50px;
    clip-path: circle(10px);
    position: absolute;
}
